<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 0.06.2021, 02.00</p>
            <h2><a href="">Deneme projesi/Berrin Göçer</a></h2>
            <p>Giriş niteliğinde bir çalışmadır </p>
        </div>

        <div>
            <p>published: 30.06.2021, 02.00</p>
            <h2><a href="">İçerik düzelenecektir</a></h2>
            <p>İyi günler</p>
        </div>
    </body>
</html>