<html>
    <head>
        <title>Berrin Göçer - Blog çalışması</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Berrin Göçer - Blog çalışması</a></h1>
        </div>
        <div>
            <p>published: 0.06.2021, 02.00</p>
            <h2><a href="">Deneme projesi</a></h2>
            <p>Giriş niteliğinde bir çalışmadır. </p>
        </div>

        <div>
            <p>published: 30.06.2021, 02.00</p>
            <h2><a href="">Devamı gelicek</a></h2>


            <p>İyi günler...</p>
        </div>
    </body>
</html>